@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{

}
body {
  /* background-color: #16304A; */
  background-color: #1A1A1A;
 padding: 0;
 margin: 0;
 /* background-color: rgba(17, 25, 40, 0.75); */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body main{
  overflow-y: hidden;
  /* background-image: url("../../public/images/bodyBg.jpg"); */
  /* padding: 2rem; */
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
  height: 100vh;
 


}
main .inner-main{
  /* backdrop-filter: blur(70px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%); */
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.dashboard{
  background: #6600ff;
    background: -webkit-linear-gradient(
        to right,
        #c5c5eb,
        #cac5df
    );
    background: linear-gradient(
        to right,
        #9f9fe3,
        #c4b2e7
    ); 
    height: 100vh;
}
.dashboard .inner-dashboard{
  background: rgb(231, 239, 245);
  background: linear-gradient(
      to right bottom,
      rgba(197, 227, 243, 0.3),
      rgba(135, 171, 180, 0.2)
      /* rgba(90, 181, 227, 0.3),
      rgba(104, 205, 230, 0.2) */
  );
  backdrop-filter: blur(1rem);
  height: 100%;
  z-index: 1;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}